VITE_SUPABASE_URL=https://kprgtuxmitoraouvocuj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_vHuzCy3iwSyA6jjY8UMMeQ_72t63HrT
VITE_OPENAI_API_KEY=sk-proj-sk-proj-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 
